<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        background-color: black;
      }
      div {
        text-align: center;
        height: 100%;
        margin-top: 80px;
      }
      img {
        width: 50%;
      }
      h1 {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>welcome <%=locals.name%> to hacking room</h1>
      <img
        src="https://media.istockphoto.com/id/1406645290/photo/big-financial-data-theft-concept-an-anonymous-hacker-is-hacking-highly-protected-financial.webp?b=1&s=170667a&w=0&k=20&c=BvDOxXaDLWePQZOhOvN9Uf-5EYtMhW15SEhiWSeFMMc="
        alt=""
      />
    </div>
  </body>
</html>
