<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login/templet" method="post">
        <input type="email" placeholder="Enter your email" name="username" value="<%=locals.username%>">
        <input type="text" placeholder="Enater your password"  name="password">
        <input type="submit">
    </form>
</body>
<!-- <script src="/public/form.js"></script> -->
</html>