<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <input type="text" placeholder="Enter your Old password" id="password" />
      <input type="text" placeholder="Enter your New password" id="newPassword"/>
      <input type="text" placeholder="Enter your Confirm password" id="confirmPassword" />
      <input type="submit" />
    </form>
  </body>
  <script>

    document.querySelector("form").addEventListener("submit", (e) => {
      e.preventDefault();
      let obj = {
        oldPassword: document.getElementById("password").value,
        newPassword: document.getElementById("newPassword").value,
        confirmPassword: document.getElementById("confirmPassword").value,
      };
      return update(obj);
    });

    const update=(data)=>{
        fetch(`/changpassword`, {
          method: "PATCH",
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then((res) => console.log(res));
    }

  </script>
</html>
